**Pandas DataFrame**

Satırları ve sütunları olan iki boyutlu etiketli veri yapısıdır. Excelin tamamı olarak düşünebiliriz.

**DataFrame Oluşturma**

pandas.DataFrame(data, index, columns)

* data -> Veri kümemiz
* index -> zorunlu alan değildir. varsayılan olarak 0 dan başlar n adet veri için n-1 indexine kadar devam eder.
* columns -> Opsiyoneldir. Veri için sütun isimlerini tanımlamamız için kullanılır.

In [1]:
import pandas as pd

Boş bir DataFrame oluşturma

In [3]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
df = pd.DataFrame(["Paris", "Berlin", "Ankara", "Atina"])

df

        0
0   Paris
1  Berlin
2  Ankara
3   Atina

In [5]:
df = pd.DataFrame(["Paris", "Berlin", "Ankara", "Atina"], columns=["Başkentler"])

df

  Başkentler
0      Paris
1     Berlin
2     Ankara
3      Atina

Bir dictionary'den DataFrame oluşturma

In [6]:
data = { "Food": ["Ekmek", "Dondurma", "Elma", "Bisküvi"],
        "Calories":[100, 430, 90, 120] }

df = pd.DataFrame(data)

df

       Food  Calories
0     Ekmek       100
1  Dondurma       430
2      Elma        90
3   Bisküvi       120

index değerleri ekleyelim

In [7]:
data = { "Food": ["Ekmek", "Dondurma", "Elma", "Bisküvi"],
        "Calories":[100, 430, 90, 120] }

df = pd.DataFrame(data, index=["food1", "food2", "food3", "food4"])

df

           Food  Calories
food1     Ekmek       100
food2  Dondurma       430
food3      Elma        90
food4   Bisküvi       120

Serilerden DataFrame Oluşturma

In [10]:
data = pd.Series(["Ekmek", "Dondurma", "Elma", "Bisküvi"])
print(data)

0       Ekmek
1    Dondurma
2        Elma
3     Bisküvi
dtype: object

In [11]:
df = pd.DataFrame(data)
df

          0
0     Ekmek
1  Dondurma
2      Elma
3   Bisküvi

Birden fazla seriden bir dataframe oluşturma

In [15]:
data ={ "Meyve": pd.Series(["Çilek", "Kivi", "Portakal", "Greyfurt"]),
        "Sebze":pd.Series(["Pırasa", "Ispanak", "Soğan", "Patates"])
}

df = pd.DataFrame(data)

df

      Meyve    Sebze
0     Çilek   Pırasa
1      Kivi  Ispanak
2  Portakal    Soğan
3  Greyfurt  Patates

In [14]:
data ={ "Meyve": pd.Series(["Çilek", "Kivi", "Portakal", "Greyfurt"],
                            index=["a", "b", "c", "d"]),
        "Sebze":pd.Series(["Pırasa", "Ispanak", "Soğan", "Patates"],
                            index=["a", "b", "c", "d"])
}

df = pd.DataFrame(data)

df

      Meyve    Sebze
a     Çilek   Pırasa
b      Kivi  Ispanak
c  Portakal    Soğan
d  Greyfurt  Patates

In [16]:
data = { "Meyve": pd.Series(["Çilek", "Kivi", "Portakal", "Greyfurt", "Mandalina"],
                            index=["a", "b", "c", "d", "e"]),
        "Sebze":pd.Series(["Pırasa", "Ispanak", "Soğan", "Patates"],
                            index=["a", "b", "c", "d"])
}

df = pd.DataFrame(data)

df

       Meyve    Sebze
a      Çilek   Pırasa
b       Kivi  Ispanak
c   Portakal    Soğan
d   Greyfurt  Patates
e  Mandalina      NaN

Verileri indeksleme ve seçme

In [34]:
df = pd.read_csv("movies.csv")

df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

head() -> datanın ilk 5 satırını verir. Eğer farklı bir sayıda istersek değiştirebiliriz bu değeri

In [19]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [20]:
df.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."

tail() -> datanın son 5 satırını verir. Eğer farklı bir sayıda istersek değiştirebiliriz bu değeri

In [21]:
df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [22]:
df.tail(10)

,star_rating,title,content_rating,genre,duration,actors_list
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

bir sütuna erişim sağlamak

In [23]:
df.title

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [24]:
df["title"]

0                             The Shawshank Redemption
1                                        The Godfather
2                               The Godfather: Part II
3                                      The Dark Knight
4                                         Pulp Fiction
                            ...
974                                            Tootsie
975                        Back to the Future Part III
976    Master and Commander: The Far Side of the World
977                                        Poltergeist
978                                        Wall Street
Name: title, Length: 979, dtype: object

In [26]:
df.loc[974]

star_rating                                                     7.4
title                                                       Tootsie
content_rating                                                   PG
genre                                                        Comedy
duration                                                        116
actors_list       [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
Name: 974, dtype: object

shape -> satır sütun bilgisini verir

In [27]:
df.shape

(979, 6)

describe() -> int float değerleri için matematiksel işlemleri yapıp değerleri verir

In [28]:
df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

Eksik veri -> NaN

isnull() notnull() -> bir değerin NaN olup olmadığını kontrol eder.

In [35]:
data = { "Meyve": pd.Series(["Çilek", "Kivi", "Portakal", "Greyfurt", "Mandalina"],
                            index=["a", "b", "c", "d", "e"]),
        "Sebze":pd.Series(["Pırasa", "Ispanak", "Soğan", "Patates"],
                            index=["a", "b", "c", "d"])
}

df1 = pd.DataFrame(data)

df1

       Meyve    Sebze
a      Çilek   Pırasa
b       Kivi  Ispanak
c   Portakal    Soğan
d   Greyfurt  Patates
e  Mandalina      NaN

In [31]:
df1.isnull()

   Meyve  Sebze
a  False  False
b  False  False
c  False  False
d  False  False
e  False   True

In [32]:
df1.notnull()

   Meyve  Sebze
a   True   True
b   True   True
c   True   True
d   True   True
e   True  False

fillna() -> Veri kümesindeki boş değerleri doldurmak için kullanılır

In [39]:
df1.fillna("Empty")

       Meyve    Sebze
a      Çilek   Pırasa
b       Kivi  Ispanak
c   Portakal    Soğan
d   Greyfurt  Patates
e  Mandalina    Empty

In [40]:
df1.notnull()

   Meyve  Sebze
a   True   True
b   True   True
c   True   True
d   True   True
e   True  False

inplace = True ->Data üzerinde yaptığımız işlemin direkt dataframe'i etkilemesini istediğimiz durumda kullanırız.

In [41]:
df1.fillna("Empty", inplace = True)

In [42]:
df1.notnull()

   Meyve  Sebze
a   True   True
b   True   True
c   True   True
d   True   True
e   True   True

In [43]:
data = { "Meyve": pd.Series(["Çilek", "Kivi", "Portakal", "Greyfurt", "Mandalina"],
                            index=["a", "b", "c", "d", "e"]),
        "Sebze":pd.Series(["Pırasa", "Ispanak", "Soğan", "Patates"],
                            index=["a", "b", "c", "d"])
}

df1 = pd.DataFrame(data)

df1

       Meyve    Sebze
a      Çilek   Pırasa
b       Kivi  Ispanak
c   Portakal    Soğan
d   Greyfurt  Patates
e  Mandalina      NaN

dropna() -> NaN değerlerini veri kümemiz üzerinde kaldırmak istediğimizde kullanırız.

In [44]:
df1.dropna()

      Meyve    Sebze
a     Çilek   Pırasa
b      Kivi  Ispanak
c  Portakal    Soğan
d  Greyfurt  Patates

In [45]:
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

Belli sütun değerlerini okuma

In [ ]:
df = pd.read_csv("movies.csv", usecols=["title", "duration"])

df

Sütun isimlerini değiştirme

In [53]:
df = pd.read_csv("movies.csv")

df.columns = ["puan", "film_adi", "izleyici_kitlesi", "tur", "sure", "oyuncu_listesi"]

df.columns

Index(['puan', 'film_adi', 'izleyici_kitlesi', 'tur', 'sure',
       'oyuncu_listesi'],
      dtype='object')

sütun isimlerini birleştirme

In [54]:
df["tur_film"] = df["tur"] + ", " + df.film_adi

df

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","Crime, The Shawshank Redemption"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","Action, The Dark Knight"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Crime, Pulp Fiction"
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...","Comedy, Tootsie"
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...","Adventure, Back to the Future Part III"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...","Action, Master and Commander: The Far Side of ..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...","Horror, Poltergeist"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...","Crime, Wall Street"

Sıralama - sort_values() metodu kullanılır.

tersten sıralama için ascending=False kullanılır.

In [58]:
df.film_adi.sort_values()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: film_adi, Length: 979, dtype: object

In [56]:
df.film_adi.sort_values(ascending = False)

864                    [Rec]
526                     Zulu
615               Zombieland
677                   Zodiac
955         Zero Dark Thirty
               ...
110    2001: A Space Odyssey
698                127 Hours
201         12 Years a Slave
5               12 Angry Men
542     (500) Days of Summer
Name: film_adi, Length: 979, dtype: object

In [59]:
df.sort_values("film_adi")

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ...","Comedy, (500) Days of Summer"
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...","Drama, 12 Angry Men"
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia...","Biography, 12 Years a Slave"
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']","Adventure, 127 Hours"
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S...","Mystery, 2001: A Space Odyssey"
...,...,...,...,...,...,...,...
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri...","Drama, Zero Dark Thirty"
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M...","Crime, Zodiac"
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha...","Comedy, Zombieland"
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac...","Drama, Zulu"
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg...","Horror, [Rec]"

In [60]:
df

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","Crime, The Shawshank Redemption"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","Action, The Dark Knight"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Crime, Pulp Fiction"
...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...","Comedy, Tootsie"
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...","Adventure, Back to the Future Part III"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...","Action, Master and Commander: The Far Side of ..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...","Horror, Poltergeist"
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...","Crime, Wall Street"

In [64]:
film_sure = []

for i in df.sure:
    if i >= 120: 
        film_sure.append("Çok Uzun")
    elif i < 120 and i >= 90:
        film_sure.append("Normal")
    else:
        film_sure.append("Kısa")

df["film_sure"] = film_sure

df.head()

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film,film_sure
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","Crime, The Shawshank Redemption",Çok Uzun
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather",Çok Uzun
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II",Çok Uzun
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","Action, The Dark Knight",Çok Uzun
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Crime, Pulp Fiction",Çok Uzun

filtreleme

In [66]:
df[df.film_sure == "Normal"]

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film,film_sure
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...","Drama, 12 Angry Men",Normal
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...","Crime, The Usual Suspects",Normal
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G...","Comedy, Life Is Beautiful",Normal
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren...","Drama, The Silence of the Lambs",Normal
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm...","Crime, Leon: The Professional",Normal
...,...,...,...,...,...,...,...,...
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...","Comedy, Death at a Funeral",Normal
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John...","Drama, Blue Valentine",Normal
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...","Comedy, Tootsie",Normal
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...","Adventure, Back to the Future Part III",Normal
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...","Horror, Poltergeist",Normal

In [68]:
df[(df.film_sure == "Normal") & (df.tur == "Drama") | (df.puan > 0)]

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film,film_sure
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","Crime, The Shawshank Redemption",Çok Uzun
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather",Çok Uzun
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II",Çok Uzun
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","Action, The Dark Knight",Çok Uzun
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Crime, Pulp Fiction",Çok Uzun
...,...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...","Comedy, Tootsie",Normal
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...","Adventure, Back to the Future Part III",Normal
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...","Action, Master and Commander: The Far Side of ...",Çok Uzun
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...","Horror, Poltergeist",Normal
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...","Crime, Wall Street",Çok Uzun

string işlemleri

In [70]:
df["film_adi_kucuk"] = df.film_adi.str.lower()

df

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film,film_sure,film_adi_kucuk
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...","Crime, The Shawshank Redemption",Çok Uzun,the shawshank redemption
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather",Çok Uzun,the godfather
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II",Çok Uzun,the godfather: part ii
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...","Action, The Dark Knight",Çok Uzun,the dark knight
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....","Crime, Pulp Fiction",Çok Uzun,pulp fiction
...,...,...,...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...","Comedy, Tootsie",Normal,tootsie
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...","Adventure, Back to the Future Part III",Normal,back to the future part iii
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...","Action, Master and Commander: The Far Side of ...",Çok Uzun,master and commander: the far side of the world
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...","Horror, Poltergeist",Normal,poltergeist
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...","Crime, Wall Street",Çok Uzun,wall street

replace()

In [71]:
df.oyuncu_listesi.str.replace("[", "").str.replace("]", "")

C:\Users\TCAYSAYDIN\AppData\Local\Temp\ipykernel_21628\3177841320.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.oyuncu_listesi.str.replace("[", "").str.replace("]", "")

0       u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'
1          u'Marlon Brando', u'Al Pacino', u'James Caan'
2      u'Al Pacino', u'Robert De Niro', u'Robert Duvall'
3      u'Christian Bale', u'Heath Ledger', u'Aaron Ec...
4      u'John Travolta', u'Uma Thurman', u'Samuel L. ...
                             ...
974    u'Dustin Hoffman', u'Jessica Lange', u'Teri Garr'
975    u'Michael J. Fox', u'Christopher Lloyd', u'Mar...
976     u'Russell Crowe', u'Paul Bettany', u'Billy Boyd'
977    u'JoBeth Williams', u"Heather O'Rourke", u'Cra...
978    u'Charlie Sheen', u'Michael Douglas', u'Tamara...
Name: oyuncu_listesi, Length: 979, dtype: object

In [72]:
df[df.oyuncu_listesi.str.contains("Al Pacino")]

,puan,film_adi,izleyici_kitlesi,tur,sure,oyuncu_listesi,tur_film,film_sure,film_adi_kucuk
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']","Crime, The Godfather",Çok Uzun,the godfather
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...","Crime, The Godfather: Part II",Çok Uzun,the godfather: part ii
115,8.3,Scarface,R,Crime,170,"[u'Al Pacino', u'Michelle Pfeiffer', u'Steven ...","Crime, Scarface",Çok Uzun,scarface
135,8.3,Heat,R,Action,170,"[u'Al Pacino', u'Robert De Niro', u'Val Kilmer']","Action, Heat",Çok Uzun,heat
278,8.1,Dog Day Afternoon,R,Crime,125,"[u'Al Pacino', u'John Cazale', u'Penelope Allen']","Crime, Dog Day Afternoon",Çok Uzun,dog day afternoon
374,8.0,Scent of a Woman,R,Drama,156,"[u'Al Pacino', u""Chris O'Donnell"", u'James Reb...","Drama, Scent of a Woman",Çok Uzun,scent of a woman
423,7.9,The Insider,R,Biography,157,"[u'Russell Crowe', u'Al Pacino', u'Christopher...","Biography, The Insider",Çok Uzun,the insider
436,7.9,Carlito's Way,R,Crime,144,"[u'Al Pacino', u'Sean Penn', u'Penelope Ann Mi...","Crime, Carlito's Way",Çok Uzun,carlito's way
463,7.9,Glengarry Glen Ross,R,Drama,100,"[u'Al Pacino', u'Jack Lemmon', u'Alec Baldwin']","Drama, Glengarry Glen Ross",Normal,glengarry glen ross
560,7.8,Donnie Brasco,R,Biography,127,"[u'Al Pacino', u'Johnny Depp', u'Michael Madsen']","Biography, Donnie Brasco",Çok Uzun,donnie brasco
561,7.8,Serpico,R,Biography,130,"[u'Al Pacino', u'John Randolph', u'Jack Kehoe']","Biography, Serpico",Çok Uzun,serpico
711,7.6,The Godfather: Part III,R,Crime,162,"[u'Al Pacino', u'Diane Keaton', u'Andy Garcia']","Crime, The Godfather: Part III",Çok Uzun,the godfather: part iii
889,7.5,Devil's Advocate,R,Drama,144,"[u'Keanu Reeves', u'Al Pacino', u'Charlize The...","Drama, Devil's Advocate",Çok Uzun,devil's advocate

In [74]:
df.tur.unique().tolist()

['Crime',
 'Action',
 'Drama',
 'Western',
 'Adventure',
 'Biography',
 'Comedy',
 'Animation',
 'Mystery',
 'Horror',
 'Film-Noir',
 'Sci-Fi',
 'History',
 'Thriller',
 'Family',
 'Fantasy']

Group by

In [75]:
df.groupby("tur").size()

tur
Action       136
Adventure     75
Animation     62
Biography     77
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
dtype: int64

In [76]:
df.groupby("tur")["film_sure"].value_counts()

tur        film_sure
Action     Çok Uzun      75
           Normal        60
           Kısa           1
Adventure  Çok Uzun      46
           Normal        28
           Kısa           1
Animation  Normal        34
           Kısa          22
           Çok Uzun       6
Biography  Çok Uzun      52
           Normal        24
           Kısa           1
Comedy     Normal       102
           Çok Uzun      33
           Kısa          21
Crime      Çok Uzun      60
           Normal        59
           Kısa           5
Drama      Çok Uzun     160
           Normal       111
           Kısa           7
Family     Normal         2
Fantasy    Normal         1
Film-Noir  Normal         2
           Kısa           1
History    Kısa           1
Horror     Normal        15
           Kısa           9
           Çok Uzun       5
Mystery    Normal         7
           Çok Uzun       7
           Kısa           2
Sci-Fi     Normal         4
           Çok Uzun       1
Thriller   Normal         3
           Çok Uzun       2
Western    Çok Uzun       7
           Kısa           1
           Normal         1
Name: film_sure, dtype: int64